@import '../../functions.modules.scss';

.list-item {
  a {
    display: block;
    padding: em(6) em(15);
    overflow-wrap: break-word;
    &:hover {
      background-color: var(--color-select-hovered);
    }
  }
}

.selected {
  a {
    background-color: var(--color-select-selected);
  }
}