.wrapper {
  background-color: #292929;
  color: #fff;
  padding: 10px 75px 10px 30px;
}

.title-logo {
  width: var(--title-logo-w);
  height: var(--title-logo-h);
  position: relative;
}

.account-menu {
  margin-left: auto;
}